/*Main Styles*/
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(113, 168, 227);
  animation: sky 240s;
  animation-iteration-count: infinite;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes sky {
  0% {
    background-color: rgb(113, 168, 227);
  }
  25% {
    background-color: rgb(238, 176, 42);
  }
  50% {
    background-color: rgb(21, 12, 75);
  }
  75% {
    background-color: rgb(177, 94, 155);
  }
}
/*Image Styles*/
img {
  display: block;
  margin: auto;
  border: 0.75 solid white;
}
#header {
  width: 600px;
  border: 0.75em dashed rgb(51, 15, 161);
  border-radius: 0.75em;
}
/*Section Styles*/
section {
  background-color: rgba(255, 255, 255, 0.654);
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.75em;
}

h1,
h2 {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 800;
  font-style: normal;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
/*UL styles */
._8bit {
  background-image: url("../images/ul.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  border: 0.5em solid rgb(0, 0, 0);
  margin: auto;
}
ul._8bit > li {
  display: block;
  width: 70%;
  margin: auto;
  background-color: rgb(6, 1, 74);
  border-radius: 2px;
  color: aliceblue;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  padding: 2%;
}

ul._8bit > li::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-image: url("../images/ulb.png");
  background-size: contain;
  background-repeat: no-repeat;
}

ul._8bit > li > ul > li {
  font-size: 1em;
}

/*OL Styles*/
.PC {
  border: 0.5em solid rgb(134, 113, 84);
  border-radius: 20px;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: unset;
  font-size: 1.4em;
  background-color: rgb(2, 37, 0);
  color: rgb(0, 255, 42);
  text-shadow: 0 0 8px #ffffff;
}
.PC hr {
  border: none;
  border-top: 2px solid rgb(0, 169, 28);
  box-shadow: 0 0px 8px rgb(255, 255, 255);
  width: 99%;
  margin-left: -20px;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

/*DD Styles*/

._16bit {
  background-image: url("../images/ulb2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  border: 0.5em solid rgb(0, 0, 0);
  margin: auto;
}
dl._16bit > dt {
  display: block;
  width: 70%;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5em;
  margin: 5% 5% 5% 5%;
  text-align: center;
}
dl._16bit > dd {
  display: block;
  width: 55%;
  margin: auto;
  color: aliceblue;
  background-color: rgb(39, 179, 111);
  border-radius: 5px;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
  padding: 5%;
  text-align: center;
  border: 0.5em solid rgb(39, 36, 30);
}

/*Quiz Styles */
.quiz {
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: white;
  height: 50px;
  margin-bottom: 0px;
}

#q1:hover {
  background-color: pink;
  color: pink;
}

#q2:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
#q3:hover {
  background-color: blue;
  color: blue;
}

#q4:hover {
  background-color: green;
  color: green;
}

#q5:hover {
  background-color: magenta;
  color: magenta;
}

#oop {
  color: black;
}

/*Season Changer*/
.sChanger {
  display: block;
  text-decoration: none;
  width: 35%;
  margin: auto;
  background-color: blue;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 15px;
}

.sChanger:hover {
  background-color: rgb(8, 8, 92);
}

.sChanger:active {
  background-color: white;
  color: blue;
}
