@import "functions";
@import "variables";
#Contact {
    @include flex-basic;
    display: flex; // Ensure the container is using flexbox
    flex-wrap: wrap;
    header {
        min-width: 100%; // You might want to adjust or remove this
        height: 140px;
        background-size: cover;

        h1 {
            font-size: $Header;
            color: white;
            text-shadow: 0px 6px 8px black;
        }
    }
    aside {
        flex: 1 1 35%; // This takes up the remaining 35% space

        border-radius: $SpaceMD;
        padding-left: $SpaceMD;
    }
    section {
        flex: 2 1 60%; // Ensure it's flexible but takes up 60% of the space
        p {
            text-align: center;
            padding: $SpaceLG;
            a {
                color: $PDBLue;
            }
        }
        div.buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
        }
        button {
            display: block;
        }
    }
}
