/* 
Base Setup for Portfolio Page
Ethan Carson
12/2/2024
*/
// Reset Styles
@import "reset";
@import "functions";
@import "variables";
// Base Styling for Project
html {
    background: url(#);
    display: block;

    body {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        min-width: 400px;

        background-color: $PBg;
        h1 {
            text-align: center;
            padding: $SpaceSM;
        }
        //Fonts

        h1,
        h2,
        h3 {
            font-family: "Press Start 2P", system-ui;
            font-weight: 400;
            font-style: normal;
        }
        //Navitaion Styles
        nav:first-of-type {
            box-shadow: 0px 6px 8px -2px $PBlueS;

            ul {
                height: 3.5em; // Ensure ul has a height
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                padding-left: $SpaceMD;
                padding-right: $SpaceMD;
                background-color: $PBlue;

                li {
                    height: 100%; // Ensure li takes up full height of ul
                    display: flex; // Change to flex for items to stretch properly
                    flex-grow: 1; // Allow li elements to grow and take equal space
                    justify-content: center; // Optionally center the links inside the li
                    align-items: center; // Ensure child elements center vertically

                    a {
                        display: block; // Make anchor fill li element
                        color: white;
                        text-align: center;
                    }

                    span {
                        display: flex;
                        background-color: white;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%; // Ensure span takes full height of li
                        padding-left: $SpaceSM;
                        padding-right: $SpaceSM;
                        color: black;
                    }
                }
            }
        }
        //Footer Styles
        footer {
            background-color: $PDBLue;
            @include flex-center;
            flex-wrap: wrap;
            flex-direction: row;
            box-shadow: 0px -6px 8px -2px $PDBlueS;

            width: 100%;
            img {
                display: inline-block;
            }
            div {
                flex: 1 1 auto;
                min-width: 400px;
                color: white;
            }
            #Email {
                min-width: 500px;
                display: flex;
                align-content: center;
                padding-left: $SpaceMD;
            }
            #Icons {
                @include flex-center;
                flex-wrap: wrap;
                flex-direction: row;
                width: 140px;
                #Logo {
                    display: flex;
                    justify-content: center;
                    flex: 1 1 auto;
                    width: 100%;

                    @media only screen and (min-width: 800px) {
                        margin-left: 100px;
                    }
                }
                #Social {
                    display: flex;
                    justify-content: center;
                    flex: 1 1 auto;
                    flex: 1 1 auto;

                    @media only screen and (min-width: 900px) {
                        margin-left: 100px;
                    }
                }
            }
            #Copyright {
                text-align: center;
            }
        }
        //Other Base Styles
        .secondary {
            background-color: $PDGreen;
            box-shadow: 0px -6px 8px -2px $PDGreenS;
        }
        button {
            min-width: 7em;
            min-height: 2.4em;
            background-color: $PBlue;
            text-align: center;
            border-radius: 15px;
            color: white;
            box-shadow: inset 0px -6px 4px $PBlueS;
        }
    }
}
