@import "functions";
@import "variables";

#Project {
    header {
        height: 140px;
        background-size: cover;
    }
    h1 {
        padding: $SpaceMD;
    }
    p {
        padding: $SpaceSM;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: $SpaceMD;
    }
    .legal {
        padding: $SpaceMD;
        text-align: center;
    }
    iframe {
        min-width: 100%;
        min-height: 600px;
    }
}
