@import "functions";
@import "variables";

#Project {
    header {
        height: 140px;
        background-size: cover;
    }
    h1 {
        padding: $SpaceMD;
        font-size: $Heading1;
    }
    p {
        padding: $SpaceSM;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: $SpaceMD;
    }
    a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: $PBlue;
        :hover {
            color: $PBlueS;
        }
    }
    .legal {
        padding: $SpaceMD;
        text-align: center;
    }
    iframe {
        min-width: 100%;
        min-height: 600px;
    }
    #Reflect {
        background-color: $PGreen;
        text-align: center;
        padding: $SpaceMD;
    }
}
