//Example code

p,
h1,
div {
    text-align: center;
    background-color: blue;
}

$Color: green;

$ColorR: red;

@mixin example {
    background-color: $Color;
    color: $ColorR;
    content: "duck";
}

@mixin ex2c {
    text-align: center;
    background-color: blue;
    font-size: xx-small;
}
