//Base Variables for Project:
//Colors
$PDBLue: hsla(223, 44, 45, 1); //Portfolio Dark Blue Color
$PBlue: hsla(205, 70, 46, 1); //Portfolio Blue Color
$PBg: hsla(176, 53, 80, 1); //Portfolio Background Color
$PGreen: hsla(130, 50, 57, 1); //Portfolio Green Color
$PDGreen: hsla(158, 41, 31, 1); //Portfolio Dark Green Color
//Shadows
$PDBlueS: rgba(50, 21, 93, 0.518);
$PBlueS: rgba(14, 30, 114, 0.417);
$PBgS: rgba(101, 158, 199, 0.374);
$PGreenS: rgba(44, 145, 122, 0.391);
$PDGreenS: rgba(27, 83, 91, 0.412);
//Spacing
$SpaceSM: 0.2rem;
$SpaceMD: 0.6rem;
$SpaceLG: 1.2rem;
$SpaceGap: 5rem;
//Header Sizes
$Heading1: 30px;
$Heading2: 24px;
$Header: 45px;
